* {
    
    color: #d5d3c2;
}
html {
    font-size: 62.5%;
}

.fat {
    font-family: system-ui, sans-serif;
}

.industrial {
    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
}
.systemUI {
    font-family: system-ui, sans-serif;
}

h1 {
    font-family: system-ui, sans-serif;
}

.p1,.p2,.p3,.p4,.p5,.p6 {
    font-family: system-ui, sans-serif;
    letter-spacing: -0.1vw;
}

.p1 {
    font-size: 2.4rem;
}
.p2 {
    font-size: 2.2rem;
}
.p3 {
    font-size: 2rem;
}
.p4 {
    font-size: 1.8rem;;
}
.p5 {
    font-size: 1.6rem;;
}
.p6 {
    font-size: 1.4rem;;
}