.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
}

.mainNav .card {
    border-left: 20px solid var(--cream);
    transition: 300ms ease-out;
}

.mainNav .card .text {
    font-size: clamp(2.8rem, 3.5vw, 5rem);
    font-weight: 600;
    font-family: system-ui, sans-serif;
    letter-spacing: -0.2vw;
    line-height: 0.8em;
    padding-left: 8px;
    transition: 300ms ease-out;
}
@media screen and (max-height: 500px) {
    .mainNav .card .text {
        font-size: 2rem;
    }
}

.mainNav .card svg {
    width: 150px;
}

div.links {
    right: var(--html-padding);
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
div.links a {
    font-size: 16px;
    line-height: 1em;
    font-family: system-ui, sans-serif;
    height: 30px;
    display: flex;
    align-items: flex-end;
}
@media screen and (max-height: 500px) {
    div.links {
        flex-direction: row;
        gap: 1rem;
    }
    .mainNav .card .text {
        font-size: 1.6rem;
    }
}

@media screen and (hover:hover) {
    .mainNav .card:hover {
        border-left: 40px solid var(--cream);
        transition: 300ms ease-out;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .mainNav .card:hover .text {
        letter-spacing: -0.1vw;
        transition: 300ms ease-out;
    }
}

/* INDEX */

#language_selector:checked 
    + label 
    + header.index 
    + .mainNav div .card span .fr,
#language_selector 
    + label 
    + header.index 
    + .mainNav div .card span .en {
        opacity: 0;
        transition: 300ms ease;
}

#language_selector:checked 
    + label 
    + header.index 
    + .mainNav div .card span .en {
        opacity: 1;
        transition: 300ms ease;
}

/* WORK */

#language_selector:checked 
    + label 
    + header 
    + main.work 
    + .mainNav div .card span .fr,
#language_selector 
    + label 
    + header 
    + main.work 
    + .mainNav div .card span .en {
        opacity: 0;
        transition: 300ms ease;
}

#language_selector:checked 
    + label 
    + header 
    + main.work 
    + .mainNav div .card span .en {
        opacity: 1;
        transition: 300ms ease;
}

/* about */

.mainNav {
    margin-top: 15px;
}

#language_selector:checked 
    + label 
    + header 
    + main.about 
    + .mainNav div .card span .fr,
#language_selector 
    + label 
    + header 
    + main.about 
    + .mainNav div .card span .en {
        opacity: 0;
        transition: 300ms ease;
}

#language_selector:checked 
    + label 
    + header 
    + main.about 
    + .mainNav div .card span .en {
        opacity: 1;
        transition: 300ms ease;
}