/* @import './fonts.css';
@import './structure.css'; */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
}
a, a:visited {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
button {
    all: unset;
}