:root {
    --blue: #5e909c;
    --green: #223622;
    --cream: #d5d3c2;

    --html-padding: clamp(5px, 1vw, 20px);
}

html {
    height: 100vh;
    height: 100svh;
    height: 100dvh;
    font-size: 64.5%;
    


    
}

.mainWidth {
    width: min(1200px, 100%);
    padding: clamp(1rem, 1.5vw + 0.1rem, 3rem);
    margin-inline: auto;
}

body {
    height: 100%;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: var(--html-padding);
}
.background {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    background-color: var(--blue);
    /* background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png"); */
    background-image: url("https://www.transparenttextures.com/patterns/worn-dots.png");
    opacity: 1;
    filter: blur(1px);
}