:root {
    --blue: #5e909c;
    --green: #223622;
    --cream: #d5d3c2;

    --html-padding: clamp(5px, 1vw, 20px);
}

html {
    height: 100vh;
    height: 100svh;
    height: 100dvh;
    font-size: 64.5%;
    background-color: var(--blue);
    padding: var(--html-padding);
}

.mainWidth {
    width: min(1200px, 100%);
    padding: clamp(1rem, 1.5vw + 0.1rem, 3rem);
    margin-inline: auto;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}