header {
    width: 100%;
}
header h1 {
    font-size: max(10vw, 4rem);
    font-weight: 700;
    letter-spacing: -1vw;
    margin-inline: 2vw;
}
header.about {
    margin-bottom: 20px;
}
/* INDEX */ 

#language_selector:checked
    + label.language_selector
    + header.index div .definitionBox .definition .swappable.fr,
#language_selector
    + label.language_selector
    + header.index div .definitionBox .definition .swappable.en {
    opacity: 0;
    transition: 300ms ease;
}
#language_selector:checked
    + label.language_selector
    + header.index div .definitionBox .definition .swappable.en {
    opacity: 1;
    transition: 300ms ease;
}

/* WORK */

#language_selector:checked
    + label.language_selector
    + header.work h1 .fr {
        opacity: 0;
        transition: 300ms ease;
}

#language_selector
    + label.language_selector
    + header.work h1 .fr {
        opacity: 1;
        transition: 300ms ease;
}

#language_selector
    + label.language_selector
    + header.work h1 .en {
    opacity: 0;
    transition: 300ms ease;
}

#language_selector:checked
    + label.language_selector
    + header.work h1 .en {
        opacity: 1;
        transition: 300ms ease;
}

/* ABOUT */



#language_selector:checked
    + label.language_selector
    + header.about h1 .fr {
        opacity: 0;
        transition: 300ms ease;
}
#language_selector
    + label.language_selector
    + header.about h1 .fr {
        opacity: 1;
        transition: 300ms ease;
}

#language_selector
    + label.language_selector
    + header.about h1 .en {
        opacity: 0;
        transition: 300ms ease;
}

#language_selector:checked
    + label.language_selector
    + header.about h1 .en {
        opacity: 1;
        transition: 300ms ease;
}