header {
    width: 100%;
}
header h1 {
    font-weight: 700;
    letter-spacing: -0.1em;
}
header.index h1 {
    margin-top: 1rem;
    margin-right: 100px;
    line-height: 0.8em;
}
header.work h1 {
    margin-bottom: 2rem;
}

@media screen and (max-height: 500px) {
    header.work h1 {
        margin-bottom: 0rem;
    }
}

@media screen and (min-height: 900px) {
    header h1 {
        font-size: 9rem;
        letter-spacing: -0.1em;
    }

    @media screen and (max-width: 500px) {
        header h1 {
            font-size: 6rem;
            letter-spacing: -0.1em;
        }
    }

    @media screen and (max-width: 400px) {
        header h1 {
            font-size: 4.5rem;
            letter-spacing: -0.1em;
        }
    }

    @media screen and (max-width: 320px) {
        header h1 {
            font-size: 3rem;
            letter-spacing: -0.1em;
        }
    }
}

@media screen and (max-height: 899px) {
    header h1 {
        font-size: 9rem;
        letter-spacing: -0.1em;
    }
    
    @media screen and (max-width: 500px) {
        header h1 {
            font-size: 7rem;
            letter-spacing: -0.1em;
        }
    }
    @media screen and (max-width: 400px) {
        header h1 {
            font-size: 5rem;
            letter-spacing: -0.1em;
        }
    }
    @media screen and (max-width: 320px) {
        header h1 {
            font-size: 4rem;
            letter-spacing: -0.1em;
        }
    }
    
}
@media screen and (max-height: 700px) {
    header h1 {
        font-size: 7rem;
        letter-spacing: -0.1em;
    }

}
@media screen and (max-height: 500px) {
    header h1 {
        font-size: 5rem;
        
    }

}

/* INDEX */ 

#language_selector:checked
    + label.language_selector
    + header.index div .definitionBox .definition .swappable.fr,
#language_selector
    + label.language_selector
    + header.index div .definitionBox .definition .swappable.en {
    opacity: 0;
    transition: 300ms ease;
}
#language_selector:checked
    + label.language_selector
    + header.index div .definitionBox .definition .swappable.en {
    opacity: 1;
    transition: 300ms ease;
}

/* WORK */

#language_selector:checked
    + label.language_selector
    + header.work h1 .fr {
        opacity: 0;
        transition: 300ms ease;
}

#language_selector
    + label.language_selector
    + header.work h1 .fr {
        opacity: 1;
        transition: 300ms ease;
}

#language_selector
    + label.language_selector
    + header.work h1 .en {
    opacity: 0;
    transition: 300ms ease;
}

#language_selector:checked
    + label.language_selector
    + header.work h1 .en {
        opacity: 1;
        transition: 300ms ease;
}

/* ABOUT */



#language_selector:checked
    + label.language_selector
    + header.about h1 .fr {
        opacity: 0;
        transition: 300ms ease;
}
#language_selector
    + label.language_selector
    + header.about h1 .fr {
        opacity: 1;
        transition: 300ms ease;
}

#language_selector
    + label.language_selector
    + header.about h1 .en {
        opacity: 0;
        transition: 300ms ease;
}

#language_selector:checked
    + label.language_selector
    + header.about h1 .en {
        opacity: 1;
        transition: 300ms ease;
}