/* MAIN elements translations */
#language_selector:checked
    + label
    + header
    + main .translation.fr,
#language_selector
    + label
    + header
    + main .translation.en {
        opacity: 0;
        pointer-events: none;
        transition: 300ms ease;
}

#language_selector
    + label
    + header
    + main .translation.fr,
#language_selector:checked
    + label
    + header
    + main .translation.en {
        opacity: 1;
        pointer-events: all;
        transition: 300ms ease;
}

/* HEADER elements translations */
#language_selector:checked
    + label
    + header .translation.fr,
#language_selector
    + label
    + header .translation.en {
        opacity: 0;
        pointer-events: none;
        transition: 300ms ease;
}

#language_selector
    + label
    + header .translation.fr,
#language_selector:checked
    + label
    + header .translation.en {
        opacity: 1;
        pointer-events: all;
        transition: 300ms ease;
}

input[type=checkbox] {
    display: none;
}
.language_selector {
    position: absolute;
    top: 10px;
    right: 10px;
}

.language_selector {
    height: 40px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.language_selector span {
    color: var(--cream);
    font-size: 12px;
    font-family: system-ui, sans-serif;
    line-height: 1em;
    display: grid;
}

.language_slider {
    width: 30px;
    background-color: var(--cream);
    padding: 2px;
    border-radius: 50px;
    display: flex;
}
.language_slider .language_thumb {
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--blue);
    transition: background-color 300ms ease;
}
.language_slider .language_thumb:active {
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #4e7c92;
    transition: background-color 50ms ease;
}

/* ANIMATION */

#language_selector 
    + .language_selector .language_slider .language_thumb {
    /* animation */
        translate: 0%;
        transition: translate 300ms ease;
}

#language_selector:checked
    +.language_selector .language_slider .language_thumb {
    /* animation */
        translate: 100%;
        transition: translate 300ms ease;
}