@import "../main.css";
@import "../components.css";

main.about > div.container {
    margin-top: 2vh;
    display: flex;
    align-items: flex-start;
}
main.about {
    --mainTab-height: clamp(30px, 6vh, 40px)
}
/* TAB SELECTION */
label.mainTab {
    --underline-height: 5px;

    width: min(300px, 45vw);
    height: var(--mainTab-height);
    font-size: clamp(1.8rem, 2.5vw, 2.6rem);
    font-weight: 600;
    cursor: pointer;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
/* might become a global set of rules */
.mainTab .translation.en {
    position: absolute;
    width: 100%;
    height: calc(100% - var(--underline-height));
    top: 0;
    left: 0;
}
.mainTab .translation.en {
    display: grid;
    place-items: center;
}
.mainTab .box {
    flex-grow: 1;
    display: grid;
    place-items: center;
}
.tabUnderline {
    height: var(--underline-height);
    background-color: var(--cream);
}
.stack.tabUnderline {
    align-self: flex-end;
}
.experience.tabUnderline {
    align-self: flex-start;
}
input[type="radio"] {
    display: none;
}
input[type="radio"]
    + .mainTab .tabUnderline {
        width: 0%;
        transition: width 300ms ease;
        pointer-events: none;
}
input[type="radio"]:checked
    + .mainTab .tabUnderline {
        width: 100%;
        transition: width 300ms ease;
        pointer-events: all;
}
main.about .tabContent {
    opacity: 0;
    pointer-events: none;
}

#stack_radio:checked
    + label
    + #stack_content,
#experiences_radio:checked
    + label
    + #experiences_content {
        pointer-events: all;
        opacity: 1;
        transition: 300ms ease;
}

/* STACK */
.tabContent {
    align-items: center;
    overflow-y: hidden;
}
main.about .tabContent {
    width: 100%;
    height: calc(100% - var(--mainTab-height));
    padding:  30px 0 30px 0;
    display: flex;
    /* padding-left: 5vw; */
    position: absolute;
    top: var(--mainTab-height);
    left: 0;
    overflow-x: scroll;
}

@media screen and (hover: none) {
    main.about div.tabContent {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}

/* STACK  CARDS */
.stackCard {
    height: min(450px, 100%);
    font-size: 2.6rem;
    background-color: var(--cream);
    padding: 10px;
    margin-inline: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.stackCard .title {
    margin: 15px 5px;
}

.stackCard .title span {
    font-size: 50px;
    letter-spacing: -0.05em;
    color: var(--blue);
    position: absolute;
    left: 100%;
    bottom: 0;
    transform: rotateZ(-90deg);
    transform-origin: bottom left;
}

@media screen and (max-height: 700px) {
    .stackCard .title span {
        font-size: 30px;
    }
}
@media screen and (orientation: landscape) and (max-height: 600px) {
    .stackCard .title {
        display: none;
    }
}

svg {
    width: 75px;
}

path {
    fill: var(--blue);
}

circle.cream {
    fill: var(--cream);
}

line.cream {
    stroke: var(--cream);
}

/* EXPERIENCES */

#experiences_content  {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
#experiences_content .scrollContainer {
    height: min(450px, 100%);
    display: flex;
    gap: 10px;
    padding-bottom: 40px;
    overflow-y: hidden;
    overflow-x: scroll;
}
@media screen and (hover: none) {
    #experiences_content {
        padding-bottom: 10px;
    }
}

.card_experiences {
    width: min(500px, 100%);
    
    background-color: var(--cream);
    flex-shrink: 0;
    margin-inline-end: 17px;
    scroll-snap-align: center;
}

@media screen and (max-width: 750px) and (hover: none) {
    #experiences_content {
        scroll-snap-type: x mandatory;
    }
    .card_experiences {
        scroll-snap-align: center;
    }
}
article.content .workLink {
    color: var(--cream);
    background-color: var(--blue);
    padding: 0.3em 0.9em;
    border-radius: 1px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.479);
    transition: box-shadow 300ms ease;
    align-self: flex-start;
}

article.content .workLink:hover {
    box-shadow: 1px 1px 2px 1px rgba(0, 40, 63, 0.712);
    transition: box-shadow 300ms ease;
}
.card_experiences p,
.card_experiences .otherText,
.workLink {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
}
@media screen and (max-height: 500px) {
    .card_experiences p {
        font-size: 1.4rem;
        line-height: 1.2;
    }
}
.card_experiences li {
    font-size: 1.4rem;
    line-height: 1.3;
}

article.content .translation{
    padding: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
@media screen and (max-height: 750px) {
    article.content .translation {
        padding: 10px 20px;
    }
}

article.content * {
    color: var(--blue);
}

article.content .title {
    font-size: clamp(2.4rem, 2.1vw, 3.2rem);
    color: var(--blue);
}
@media screen and (max-height: 500px) {
    article.content .title {
        font-size: 1.8rem;
    }
}

/* INTRO CARD */

.introCard {
    background-color: transparent;
    border: 2px solid var(--cream);
    backdrop-filter: blur(1.5px);
}

.introCard h2.title,
.introCard p.text {
    color: var(--cream);
}
