@import "../main.css";
@import "../components.css";




label[for="number"] {
    font-size : 30px;
}
input[type="number"] {
    width: 400px;
    font-size: 40px;
    background-color: #494949;
}







body.index .boxA {
    width: 10vw;
    background-color: var(--cream);
}

body.index .definition p {
    font-size: clamp(2rem, 2vw, 3.6rem);
    letter-spacing: -0.1vw;
    margin-left: clamp(1.0rem, 2vw, 3rem);
}

@media (max-width: 768px) {
    body.index .definitionBox {
        margin-top: 15px;
    }
}

body.index ul.technos {
    font-size: clamp(2rem, 2vw, 3.6rem);
    margin-top: 50px;
    margin-left: 50vw;
}

body.index ul.technos li {
    font-weight: 700;
    margin-block: 5px;
}

.projImg {
    height: 400px;
    width: 200px;
    object-fit: cover;
}

.portrait {
    width: 400px;
    border-radius: 50%;
}

.halfTone {
    mix-blend-mode: soft-light;
}

path {
    fill: var(--cream);
}
