@import "../main.css";
@import "../components.css";

body.index .boxA {
    width: 10vw;
    background-color: var(--cream);
}

body.index .definition p {
    font-size: clamp(2rem, 2vw, 3.6rem);
    letter-spacing: -0.1vw;
    margin-left: clamp(1.0rem, 2vw, 3rem);
}

@media (max-width: 768px) {
    body.index .definitionBox {
        margin-top: 15px;
    }
}

body.index ul.technos {
    font-size: clamp(2rem, 2vw, 3.6rem);
    margin-top: 50px;
    margin-left: 50vw;
}

body.index ul.technos li {
    font-weight: 700;
    margin-block: 5px;
}

.projImg {
    height: 400px;
    width: 200px;
    object-fit: cover;
}

.portrait {
    width: 400px;
    border-radius: 50%;
}

.halfTone {
    mix-blend-mode: soft-light;
}

path {
    fill: var(--cream);
}

.indexMainContent {
    width: 50%;
    margin: 3vw;
}
@media (max-width: 768px) {
    .indexMainContent {
        width: 100%;
        margin: 6vw 3vw;
    }
}


.indexMainContent > .box {
    height: 100%;
    padding: 1.5vw;
    overflow-y: scroll;
}
.indexMainContent h2 {
    font-size: clamp(1.8rem, 2vw, 2.4rem);
}
.indexMainContent .card {
    background-color: var(--cream);
    padding: 20px;
    margin-block: 10px;
}
.indexMainContent .card * {
    color: var(--blue);
}
.indexMainContent .card .title {
    font-size: clamp(1.6rem, 2vw, 2rem);
    font-weight: 700;
}
.indexMainContent .card .description {
    font-size: 1.6rem;
    line-height: 1.3;
}