
main.projects::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari and Opera */
}

main.projects {
    --easing: cubic-bezier(.63, 0, .34, 1);
    --ease-quick: cubic-bezier(.74, -0.01, .5, 1);
    --ease-delay: cubic-bezier(.84, -0.01, .31, .99);
    overflow-x: scroll;
    overflow-y: visible;
    padding-left: 8vw;
    padding-bottom: 20px;
}

@media screen and (hover: none) {
    main.projects {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}

main.projects .frame {
    height: 450px;
    height: min(500px, 100%);
    display: flex;
    align-items: center;
}

main.projects .card {
    width: 250px;
    height: min(400px, 100%);
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    transition: width 300ms var(--easing), height 300ms var(--easing);
    position: relative;
}

main.projects .frame:hover .card {
    height: min(450px, 100%);
    transition: 300ms var(--ease-quick);
}

main.projects .frame:hover 
    + .frame .card,
main.projects .frame:focus 
    + .frame .card {
        height: min(425px, 100%);
        transition: 300ms 20ms var(--ease-delay);
}

main.projects .frame:focus .card {
    width: 500px;
    height: 100%;
    transition: 300ms var(--ease-delay);
}

main.projects .box {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-top: 8px solid var(--cream);
    border-right: 12px solid var(--cream);
    border-bottom: 12px solid var(--cream);
    border-left: 8px solid var(--cream);
    box-shadow:
        1px 1px 2px 1px var(--cream),
        1px 1px 3px 1px rgba(0, 0, 0, 0.467);
    border-radius: 2px;
}
.frame:focus .box {
    border-radius: 2px 0 0 2px;
}

main.projects img {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main.projects .projectTitle {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.05em;
    font-family: system-ui, sans-serif;
    background-color: var(--blue);
    padding: 5px;
}

main.projects .content {
    width: 250px;
    height: 100%;
    border: 2px solid var(--cream);
    border-radius: 3px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.frame:focus .content {
    border-radius: 0 2px 2px 0;
}
/* This is the scrollbar track */
main.projects::-webkit-scrollbar,
main.projects::-webkit-scrollbar-thumb:hover,
main.projects::-webkit-scrollbar-thumb {
    background: #d5d3c268;
}

main.projects::-webkit-scrollbar {
    width: 10px;
}

/* This is the handle (or "thumb") of the scrollbar */
main.projects::-webkit-scrollbar-thumb {
    border-radius: 10px;
}
